/* 
* General
*/

:root {
--main-border-colour: #ddd;
--primary-background-colour: #f8f8f8;
--secondary-background-colour: #ececec;
--primary-brand-colour: #1a1a1a;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 9.411764705882353px;
  }
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* 
* Links
*/

a {
  color: #2e6cd1;
  text-decoration: none;
  transition: all 0.2s ease 0s;
}

a:hover {
  color: #000;
  text-decoration: none;
}

/* Google font import */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  background: #fff;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.765;
  color: #000 !important;
  padding: 0;
  }

/* 
 * Navbar
 */
 .navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;

}
.nav .navbar-nav li a {
  color: #000 !important;
  text-decoration: none;
  background-color: #000;
}

.nav .navbar-nav li a:hover {
  color: #fff;
  background: #000;
}

/* 
 * Jumbotron
 */
.jumbotron {
  /* background: #2e6cd1 !important; rgb(46, 108, 209) */
  background-image: url(../assets/images/jumbotron.png);
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #eee !important;
  padding: 20px;
  margin: 1em;
  border-radius: 2.5% / 5%;
  z-index: 1;
}

.jumbotron h1 {
  font-size: 200px !important;
  margin: 0 auto;
  text-align: center !important;
}

.jumbotron .main-content-div {
  margin: 0 auto;
}

/* 
* Questions
*/
.questions {
  padding: 20px;
}

.questions h2 {
  font-weight: bolder;
}

.questions ol li {
  font-weight: bold;
  list-style: none;
}

.questions ol li p {
  font-weight: 200;
}

.questions .inner-lists li {
  font-weight: 200;
  list-style: numeric;
}

.questions fieldset {
  -moz-border-radius:5px;  
  border-radius: 5px;  
  -webkit-border-radius: 5px;
}

.questions li a {
  box-shadow: none;
}

.questions li a:hover {
  box-shadow: 5px 10px !important;
}

/* 
* Labels
*/
.easy {
  background-color:#0a0;
  color: #fff;
  padding: 2px;
  border-radius:10%;
}

.medium {
  background-color:#d30;
  color: #fff;
  padding: 2px;
  border-radius:10%;
}

.hard {
  background-color: #f00;
  color: #fff;
  padding: 2px;
  border-radius:10%;
}

/* 
* Leaderboard
*/
.leader-btn {
  text-align: center;
}

.leader-btn a{
  padding: 7px;
  background: #fef200;
  color: #ee1c25 !important;
  border-style: solid;
  border-color: #ee1c25 !important;
  border-radius: 10% / 50%;
  font-size: 35px;
  font-weight: 900;
}

.leader-btn a:hover {
  background: #fff100;
  color: #282425 !important;
  border-color: #fff100 !important;
  
}

/* 
* Footer
*/

#footer {
  background-color: var(--primary-brand-colour);
  border-top: 1px solid var(--main-border-colour);
  padding-top: 40px;
  text-align: center;
  min-height: 100px;
  color: #777;
}

#footer a {
  text-decoration: none;
  font-weight: bold;
  color: #ddd;
}

#footer a:hover {
  color: #fff;
}