/*
 * general
 */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 9.411764705882353px;
  }
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* 
* Links
*/

a {
  color: #2e6cd1;
  text-decoration: none;
  transition: all 0.2s ease 0s;
}

a:hover {
  color: #000;
  text-decoration: none;
}

/* Google font import */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  background: #fff;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.765;
  color: #000 !important;
  padding: 0;
  }

/* 
 * Navbar
 */
.nav .navbar-nav li a {
  color: #000 !important;
  text-decoration: none;
  background-color: #000;
}

.nav .navbar-nav li a:hover {
  color: #fff;
  background: #000;
}

/* 
 * Jumbotron
 */
.jumbotron {
  /* background: #2e6cd1 !important; rgb(46, 108, 209) */
  background-image: url(../assets/images/jumbotron.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #eee !important;
  padding: 20px;
  z-index: 1;
}

.jumbotron h1 {
  font-size: 200px !important;
  margin: 0 auto;
  text-align: center !important;
}

.jumbotron .main-content-div {
  margin: 0 auto;
}

/* 
* Questions
*/
.questions {
  padding: 20px;
}

.questions h2 {
  font-weight: bolder;
}

.questions ol li {
  font-weight: bold;
  list-style: none;
}

.questions ol li p {
  font-weight: 200;
}

.questions .inner-lists li {
  font-weight: 200;
  list-style: numeric;
}

/* 
* Labels
*/
.easy {
  background-color:#0a0;
  color: #fff;
  padding: 2px;
  border-radius:10%;
}

.medium {
  background-color:#d30;
  color: #fff;
  padding: 2px;
  border-radius:10%;
}

.hard {
  background-color: #f00;
  color: #fff;
  padding: 2px;
  border-radius:10%;
}
